<%= form_with(model: bike, local: true) do |form| %>
  <% if bike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bike.errors.count, "error") %> prohibited this bike from being saved:</h2>

      <ul>
        <% bike.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vacancy_id %>
    <%= form.number_field :vacancy_id %>
  </div>

  <div class="field">
    <%= form.label :with_problem %>
    <%= form.check_box :with_problem %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
